
.navBarWrapper {
  position: fixed;
    z-index: 1;
    width: 100%;

}
.topnav {
    background-color:blue;
    overflow: hidden;
    height: 8.02%;
    display: flex;
    align-items: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a, i {
    color: grey;
    padding: 7px 8px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active{
    color: white;
  }
  i.icon-white {
    color: white;
}
  .topnav p {
    color:black;
    font-size: 1em;
  }
table, th, td {
    border: 1px solid black;
    padding: 3px;
  }
.contactContainer{
  padding:100px;
}
  .navBarWrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
  }

.form {
  padding-top: 100px;
}
.mytextwithicon {
  position:relative;
}    
.mytextwithicon:before {
  content: "\f054";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  left:-5px;
  position:absolute;
  top:0;
}